.App {
  text-align: center;
  /* background-color: lightskyblue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  max-width: 100vw;
  /* background-color: ; */
}

.switch {
  position: fixed;

  background-color: #a7c7e7;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
  width: 120px;
  font-weight: 500;

  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 2px 8px grey;
  margin-left: 20px;
  cursor: pointer;
  /* color: white; */
}

.calendarr {
  height: 50px;
  width: 20px;
}
